BODY { padding-left:15px; padding-top:15px; }
BODY, INPUT, SELECT { font-family:arial; font-size:16px; }
TABLE { border-collapse: collapse; }
TD { border:solid 1px black; padding:5px; }
A { text-decoration:none; }
.sTitreApplication { font-size:32px; line-height:26px; font-weight:bold; margin-top:0px; }
.sTitreSection { font-size:24px; line-height:20px; font-weight:bold; }

.sAdresse { width:270px; }
.sAdresseComplete { width:340px; }
.sBleu { color:blue; }
.sCentre { text-align:center; }
.sDate { width:90px; }
.sDroite { text-align:right; }
.sDroits { font-size:12px; }
.sEntete { background-color:#cccccc; font-weight:bold; }
.sGras { font-weight:bold; }
.sRouge { color:red; }
.sVerifications { border-left:none; border-right:none; text-align:center; font-weight:bold; padding:10px; }
.sTableau { font-family:consolas; }
.sTri { font-size:18px; }
